<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <head>
        <title>{{ site.title }}</title>
        <!-- PureCSS -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/a56ae02711.js" crossorigin="anonymous"></script>
        <!-- JQuery -->
        <link rel="stylesheet" href="{{ "/assets/jquery-mobile/jquery.mobile-1.4.5.min.css" | relative_url }}" />
        <script src="{{ "/assets/jquery-mobile/jquery-1.11.1.min.js" | relative_url }}"></script>
        <script src="{{ "/assets/jquery-mobile/jquery.mobile-1.4.5.min.js" | relative_url }}"></script>
        <!-- Custom Styling -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ "/assets/css/main.css" | relative_url }}" />
        <!-- Custom JS -->
        <script type="text/javascript">
            function toggle_navbar() {
                var x = document.getElementById("navbar");
                if (x.className === "") {
                    x.className += " responsive";
                } else {
                    x.className = "";
                }
            }
        </script>
    </head>
    <body>
        <header class="pure-g">
            <div id="div-nav" class="pure-u-1 pure-u-md-1">
                <nav id="navbar">
                    <a href="{{ site.url }}/index.html">Home</a>
                    <a href="{{ site.url }}/syllabus.html">Syllabus</a>
                    <a href="{{ site.url }}/schedule.html">Schedule</a>
                    <a href="{{ site.url }}/about.html">About</a>
                    <a href="javascript:void(0);" class="icon" onclick="toggle_navbar()"><i class="fa fa-bars"></i></a>
                </nav>
            </div>
        </header>
        <div id="main">
            